// https://github.com/chriskempson/tomorrow-theme
highlight-background = #efefef
highlight-current-line = #efefef
highlight-selection = #d6d6d6
highlight-foreground = #5c6370
highlight-comment = #abb2bf
highlight-red = #c82829
highlight-orange = #f5871f
highlight-yellow = #eab700
highlight-green = #718c00
highlight-aqua = #3e999f
highlight-blue = #4271ae
highlight-purple = #8959a8

pre, code
  font-family: font-mono
  color: highlight-foreground
  background: highlight-background
  font-size: 0.95em

code
  padding: 0 5px

pre
  padding: 10px 15px
  line-height: 22px
  code
    border: none
    display: block
    padding: 0

.highlight
  background: highlight-background
  padding: 10px 15px
  color: #abb2bf
  overflow: auto
  margin: 0
  table
    margin: 0 !important
    border: 0
    th, td
      padding: 0
  figcaption
    clearfix()
    margin: -5px 0 5px
    font-size: 0.9em
    color: color-gray
    a
      float: right
  pre
    padding: 0
    border: none
    background: none
  .line
    height: 22px
  .comment
    color: highlight-comment
    font-style: italic
  .quote
    color: highlight-comment
    font-style: italic
  .doctag
    color: #c678dd
  .keyword
    color: #c678dd
  .formula
    color: #c678dd
  .section
    color: #e06c75
  .name
    color: #e06c75
  .selector-tag
    color: #e06c75
  .deletion
    color: #e06c75
  .subst
    color: #e06c75
  .literal
    color: #56b6c2
  .string
    color: #98c379
  .regexp
    color: #98c379
  .addition
    color: #98c379
  .attribute
    color: #98c379
  .meta-string
    color: #98c379
  .built_in
    color: #e6c07b
  .class
    color: #e6c07b
  .title
    color: #e6c07b
  .attr
    color: #d19a66
  .variable
    color: #d19a66
  .template-variable
    color: #d19a66
  .type
    color: #d19a66
  .selector-class
    color: #d19a66
  .selector-attr
    color: #d19a66
  .selector-pseudo
    color: #d19a66
  .number
    color: #d19a66
  .symbol
    color: #61aeee
  .bullet
    color: #61aeee
  .link
    color: #61aeee
  .meta
    color: #61aeee
  .selector-id
    color: #61aeee
  .title
    color: #61aeee
  .emphasis
    font-style: italic
  .strong
    font-weight: bold
  .link
    text-decoration: underline

pre
  .comment
  .title
    color: highlight-comment
  .variable
  .attribute
  .tag
  .regexp
  .ruby .constant
  .xml .tag .title
  .xml .pi
  .xml .doctype
  .html .doctype
  .css .id
  .css .class
  .css .pseudo
    color: highlight-red
  .number
  .preprocessor
  .built_in
  .literal
  .params
  .constant
    color: highlight-orange
  .class
  .ruby .class .title
  .css .rules .attribute
    color: highlight-green
  .string
  .value
  .inheritance
  .header
  .ruby .symbol
  .xml .cdata
    color: highlight-green
  .css .hexcolor
    color: highlight-aqua
  .function
  .python .decorator
  .python .title
  .ruby .function .title
  .ruby .title .keyword
  .perl .sub
  .javascript .title
  .coffeescript .title
    color: highlight-blue
  .keyword
  .javascript .function
    color: highlight-purple
