layout: index
description: Una rápida y poderosa plataforma de análisis de eventos
subtitle: Una rápida y poderosa plataforma de análisis de eventos
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title Sumamente Rápido
      p.intro-feature-desc Caudal te brinda una increible velocidad de análisis de eventos. Su estado en memoria permite sorprendentes tiempos de respuesta.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title Fuentes de Eventos
      p.intro-feature-desc Recoge eventos desde Archivos, Syslog, Log4j, TCP, Twitter y más.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bar-chart
      h3.intro-feature-title Análisis Estadístico
      p.intro-feature-desc Entiende tu negocio aplicando algoritmos de streaming a los eventos correlacionados.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-send
      h3.intro-feature-title Alertas por Email, Slack o Telegram
      p.intro-feature-desc Caudal tiene capacidad de enviar alertas al equipo de operaciones, minimizando las interrupciones en tus servicios.
 