layout: index
description: Caudal is a fast & powerful event analysis platform
subtitle: A fast & powerful event analysis platform
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title Blazing Fast
      p.intro-feature-desc Caudal brings you incredible event analysis speed. In memory-state allows awesome response time.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title Event Sources
      p.intro-feature-desc Catch events from Files, Syslog, Log4j, TCP, Twitter and more.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bar-chart
      h3.intro-feature-title Statistical Analysis
      p.intro-feature-desc Understand your business applying streaming algorithms to correlated events.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-send
      h3.intro-feature-title Email, Slack or Telegram alerts
      p.intro-feature-desc Caudal is capable to send alerts to operations team, minimizing outages in your services.
 